<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}DiMeX{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

   <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    
  <!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script> 

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61916866-1', 'auto');
  ga('send', 'pageview');

</script>


  <style media="screen" type="text/css">

.relative {
position: relative;
}
.absolute {
position: absolute;
}
/* overwrite bootstrap styles */
.navbar {
margin-bottom: 0;
}
.pagination-tiny>li>a, .pagination-tiny>li>span {
padding:3px 6px;
font-size:10px;
}
.pagination-tiny {
margin:10px 0;
}
/* overwrite DataTable styles */
table.dataTable thead .sorting {
background: url('../images/both_arrow.png') no-repeat center right;
}
#dtm-search-result-table thead th, #dtm-search-result-table thead td {
border-bottom: none;
font-weight: bold;
vertical-align: middle;
padding-top: 0;
padding-bottom: 0;
}
#dtm-search-result-table td {
padding:5px;
}
#dtm-search-result-table thead td {
padding: 3px 10px 3px 18px;
}
#dtm-search-result-table .sorting,
#dtm-search-result-table .sorting_asc,
#dtm-search-result-table .sorting_desc {
background-position: center left;
}
#dtm-search-result-table.no-footer {
border-bottom: none;
}
#dtm-datatable-top {
float:right;
}
#dtm-datatable-top #dtm-search-result-table_paginate {
position:relative;
top:-5px;
float:right;
}
#dtm-datatable-top #dtm-search-result-table_length {
float:right;
margin-right:10px;
}
#dtm-datatable-top #dtm-search-result-table_filter {
margin-right:10px;
float:right;
}
#dtm-datatable-top #dtm-search-result-table_filter input {
width:200px;
}
#dtm-datatable-top .dataTables_wrapper .dataTables_paginate .paginate_button {
padding:4px 8px;
}
#dtm-search-result-block {
position: relative;
top:-30px;
}
/* dtm base */
#dtm {
width: 100%;
background-color: #ffffff;
position: relative;
min-height: 100%;
}
#dtm-header {
}
#dtm-content {
padding-bottom: 50px;
}
#dtm-footer {
bottom: 0px;
width: 100%;
height: 30px;
line-height: 30px;
position: absolute;
text-align: left;
background: #ddd;
padding-left:40px;
color:#428bca;
}
#dtm-top-search {
width:330px;
}
#dtm-top-search-input {
height:34px;
}
.dtm-top-search-input-focus {
top: -20px;
left: 0;
background:#fff;
z-index:101;
}
#dtm-search-result-table_info {
float: left;
}
/* dtm index page */
#dtm-index-search {
padding-top:20px;
}
#dtm-index-intro {
padding-bottom:20px;
}
#dtm-index-example {
padding-bottom:20px;
}
#dtm-index-search-form {
padding:20px 0;
}
/* dtm search page */
#dtm-search-result {
padding:10px 10px;
}
#dtm-search-summary {
color: #888;
z-index:100;
}
#dtm-search-summary-text {
display:inline-block;
}
#dtm-search-download-table {
vertical-align:bottom;
color: #000000;
}
#dtm-search-download-table:hover {
cursor: pointer;
text-decoration: underline;
}
#dtm-search-utils {
padding: 0;
}
#dtm-search-pagination {
padding-top:10px;
float:right;
text-align:right;
}
#dtm-search-pagination-arrow {
display: inline-block;
vertical-align:bottom;
}
#dtm-search-pagination-arrow ul {
margin: 0;
font-weight: bold;
}
#dtm-search-pagination-select {
display: inline-block;
vertical-align:bottom;
margin-left:5px;
}
#dtm-search-result-table {
margin-top:10px;
}
.dtm-search-direct-mark {
color: mediumseagreen;
}
.dtm-search-unknown-mark {
color: #ddd;
}
.dtm-search-evidence-mark {
color: #aaa;
}
#dtm-result-tbheader-evidence {
text-align: center;
font-size: 14px;
}
#dtm-result-tbheader-sentence,
#dtm-result-tbheader-abstract {
font-size: 14px;
}
/* dtm annotation page */
#dtm-annotation {
width:100%;
padding-top:20px;
}
#dtm-left-column {
display: inline-block;
width:49%;
margin-right:0.5%;
vertical-align:top;
}
#dtm-right-column {
display: inline-block;
width:49%;
margin-left:0.5%;
vertical-align:top;
}
#dtm-annotation-docid {
font-size:16px;
padding:5px 0;
}
#dtm-annotation-text {
}
ul#dtm-annotation-sentence-list {
padding: 0 0 0 20px;
list-style-type:decimal;
}
ul#dtm-annotation-sentence-list li {
padding:5px 10px;
}

  </style>
    
  {% block script%} {% endblock %}

</head>


<body>


<div class="container-fluid">
    <div class="page-header">
    	<h2><a href='http://128.4.20.135:8000/'>DiMeX </a><small>(<mark>eX</mark>traction of <mark>M</mark>utation association to <mark>Di</mark>seases</small></h2>
    </div>
</div>


<div class="container-fluid">
  {% block body-content %}
  <p>Base template sample text.</p>
  {% endblock %}
</div>


<div class="container-fluid">
  <div class="row">
  	<p><br></p>
  	<div class="panel-footer">			
  		<p> <a href='www.cis.udel.edu'>Department of Computer Science</a> @ <a href='www.udel.edu'>University of Delaware </a></p>
			
  	</div>		
  </div>
</div>


</body>
</html>
</div>

