{% extends 'base.html' %}

{% block title %} DiMeX {% endblock %}

{% block body-content %}

<ul>
	<li><a href="{% url 'dbdownload' 1 %}">Download</a> all <M,G,D> triplets and related information.	</li>	
	<li><a href="{% url 'dbdownload' 2 %}">Download</a> additional information that are at abstract level.  </li>
</ul>

{% endblock %}