{% extends 'base.html' %}

{% block title %} eVarD homepage {% endblock %}

{% block body-content %}

<div class="container-fluid">

	<p><strong>MADix</strong> is a text mining system that extracts mutation to disease associations<br>
	from pubmed abstracts. This web interface lets you download the results generated<br>by MADix as well as
	querying the results. Currently it contains 2730 pmids with 8088<br> triplets of &lt;M,G,D&gt;. You can search
	the database by mutations, genes and diseases, or by PMIDs.</p>

	<p>The complete database can be downloaded <a href="{% url 'fulldownload' %}">here</a>.</p>
	<p><br></p>


	<form action='searchpmid/' method='GET'>
		<div class="form-group">
			<label for="pmids">Search by PMIDs, comma separated list:</label>
	        <input type="text" class="form-control" id="pmids" name ="pmids" placeholder="<list of pmids>">
			<button type="submit" class="btn btn-primary" id="pmidsearch"> Search </button>
			<br><br><p><strong>OR,</strong></p>
			<p>Search by combination of any three of M, G and/or D.</p>
		</div>
	</form>

	<form action='search/' method='GET'>
	<div class="row">		
		<div class="col-xs-3">
			<h3>Search for Mutations</h3>
			<label for="mutstring">Mutation/SNPID:</label>
        	<input type="text" class="form-control" id="mutstring" name="mutstring" placeholder="V762A, rs1051730">
		</div>
		<div class="col-xs-3">
			<h3>Search for Genes</h3>
			<label for="genes">Gene:</label>
        	<input type="text" class="form-control" id="genes" name="genes" placeholder="VEGF, BRAF">
		</div>
		<div class="col-xs-3">
			<h3>Search for Diseases</h3>
			<label for="genes">Disease:</label>
        	<input type="text" class="form-control" id="diseases" name="diseases" placeholder="Cervical cancer, colorectal cancer">

		</div>		
	</div>
	<div class="row">
		<div class="col-xs-9">
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="search"> Search </button>
            </div>
        </div>
	</div>
	</form>
</div>

{% endblock %}