{% extends 'base.html' %}

{% block title %} DiMex PMID-view {% endblock %}

{% block script%} 
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#dtm-search-result-table').dataTable( {
		    	"pageLength": 20,
				"lengthChange": false,
				"columnDefs": [
					{ "orderable": false, "targets": 5}
				],
				"sDom": 'lprtip',
				"language": {
					"paginate": {
					"next": "&gt;",
					"previous": "&lt;"
					}
				},
				"pagingType": "simple_numbers",
				"dom": '<"#dtm-datatable-top.col-md-7"plf>rt<"bottom"ip><"clear">',
				"aaSorting": []
		    });
		} );
	</script>
{% endblock %}

{% block body-content %}

{% if found %}

<div id="dtm-search-result">
	<div id="dtm-search-utils" class="container-fluid">
		
		<div id="dtm-search-summary" class="col-xs-10">
			<div id="dtm-search-summary-text">
				<strong>{{ stat.tuples_length }}</strong> PMIDs were found from <strong>{{ stat.abstract_length }}</strong> given PMID.
				<a href="{% url 'download' 2 %}">Download results</a><br>
			</div>
		</div>

	</div>

	<div id="dtm-search-result-block">
		<table class="table table-hover" id="dtm-search-result-table">
			<thead>
			<tr>
				<th rowspan="2" colspan="1">PMID</th>
				<th rowspan="2" colspan="1">Patient</th>
				<th rowspan="2" colspan="1">Population</th>
				<th rowspan="2" colspan="1">Review</th>
				<th rowspan="2" colspan="1">Meta-analysis</th>
				<th rowspan="2" colspan="1">Triplets</th>				
				<th rowspan="1" colspan="1" id="dtm-result-tbheader-evidence">Text Evidence</th>
			</tr>
			<tr>
				<th rowspan="1" colspan="1" id="dtm-result-tbheader-abstract">Abstract</th>
			</tr>
			</thead>
			
			<tbody>
            {% for tuple in tuples %}
                <tr>
                    <td>{{ tuple.pmid }}</td>
                    <td>{{ tuple.patient }} </td>
                    <td>{{ tuple.population }}</td>
                    <td>{{ tuple.review }}</td>
                    <td>{{ tuple.meta }}</td>
                    <td> 
                    	{% for triplet in tuple.triplets %}
                    		&lt; {{ triplet }} &gt; <br>
                    	{% endfor %}
                    </td>
                    <td>
						<a href="{% url 'sentences' tuple.pmid %}">
						<span class="glyphicon glyphicon-file dtm-search-evidence-mark"></span>
						</a>
                    </td>
                </tr>
            {% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% else %}
	Sorry, not found.
{% endif %}


{% endblock %}