{% extends 'base.html' %}

{% block title %} DiMeX triplet-view {% endblock %}

{% block script%} 
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#dtm-search-result-table').dataTable( {
		    	"pageLength": 20,
				"lengthChange": false,
				"columnDefs": [
					{ "orderable": false, "targets": 5}
				],
				"sDom": 'lprtip',
				"language": {
					"paginate": {
					"next": "&gt;",
					"previous": "&lt;"
					}
				},
				"pagingType": "simple_numbers",
				"dom": '<"#dtm-datatable-top.col-md-7"plf>rt<"bottom"ip><"clear">',
				"aaSorting": []
		    });
		} );		
	</script>
	<style>
		th.DOIDcol { max-width:100px; word-wrap:break-word; }
		td.DOIDcol { max-width:100px; word-wrap:break-word; }
		th.EntrezIDcol { max-width:80px; word-wrap:break-word; }
		td.EntrezIDcol { max-width:80px; word-wrap:break-word; }
	</style>
{% endblock %}

{% block body-content %}

{% if found %}

<div id="dtm-search-result">
	<div id="dtm-search-utils" class="container-fluid">
		
		<div id="dtm-search-summary" class="col-md-6">
			<div id="dtm-search-summary-text">
				<!-- {{ stat.pmidsize }} PMIDs.<br> -->
				<a href="{% url 'showtext' pmids %}" target="_blank">{{ stat.pmidsize }} PMIDs.</a> <br>
				<!-- {{ stat.mutationsize }} mutations. <br> -->
				<a href="{% url 'showtext' mutations %}" target="_blank">{{ stat.mutationsize }} mutations.</a> <br>
				{{ stat.tuplesize }} mutation to disease associations. <br>
				<a href="{% url 'searchpmid' population_pmids %}">Population ({{ stat.poppmidsize}})</a> <br>
				<a href="{% url 'searchpmid' review_meta_pmids %}">Review/Meta-analysis ({{ stat.metareviewpmidsize}})</a> </br>
				<a href="{% url 'download' 1 %}">Download results</a><br>

				<!-- 
				<strong>{{ stat.tuplesize }}</strong> &lt;M, G, D&gt; triplets were found from <strong>{{ stat.pmidsize }}</strong> PMIDs. {{ stat.mutationsize}}
				<a href="{% url 'download' 1 %}">Download results</a><br>  -->

				<!--
				Show detailed PMID views for results that have:
				<ul>
					<li><a href="{% url 'searchpmid' population_pmids %}">Population ({{ stat.poppmidsize}})</a></li>
					<li><a href="{% url 'searchpmid' review_meta_pmids %}">Review/Meta-analysis ({{ stat.metareviewpmidsize}})</a></li>
				</ul>
				-->
			</div>	

			<!-- 
			<div class="dropdown">
				Show detailed PMID views for results that have:<a data-target="#" data-toggle="dropdown" class="dropdown-toggle"> select<b class="caret"></b></a>
				<ul class="dropdown-menu dropdown-menu-left">
				<li><a href="{% url 'searchpmid' population_pmids %}">Population ({{ stat.poppmidsize}})</a></li>
				<li><a href="{% url 'searchpmid' review_meta_pmids %}">Review/Meta-analysis ({{ stat.metareviewpmidsize}})</a></li>
				</ul>
			</div> -->
					

			</div>
		</div>
	</div>

	<div id="dtm-search-result-block">
		<table class="table table-hover" id="dtm-search-result-table">
			<thead>
			<tr>
				<th rowspan="2" colspan="1">PMID</th>
				<th rowspan="2" colspan="1">Mutation</th>
				<th rowspan="2" colspan="1">Gene</th>
				<th rowspan="2" colspan="1" class="EntrezIDcol">EntrezID</th>
				<!-- <th rowspan="2" colspan="1">EntrezSymbol</th> -->
				<th rowspan="2" colspan="1">Disease</th>
				<th rowspan="2" colspan="1" class="DOIDcol">DOID</th>
				<!-- <th rowspan="2" colspan="1">DOIDname</th> -->
				<!-- <th rowspan="2" colspan="1">Sent#</th> -->
				<th rowspan="2" colspan="1">Location</th>
				<th rowspan="2" colspan="1">Confidence</th>
				<!-- <th rowspan="2" colspan="1">Study</th> -->
				<th rowspan="2" colspan="1">Connection</th>
				<!-- <th rowspan="2" colspan="1">Patient</th> -->
				<!-- <th rowspan="2" colspan="1">Population</th> -->
				<!-- <th rowspan="2" colspan="1">Review</th> -->
				<!-- <th rowspan="2" colspan="1">Meta-analysis</th> -->
				<th rowspan="1" colspan="1" id="dtm-result-tbheader-evidence">Text Evidence</th>
			</tr>
			<tr>
				<th rowspan="1" colspan="1" id="dtm-result-tbheader-abstract">Abstract</th>
			</tr>
			</thead>
			
			<tbody>
            {% for tuple in tuples %}
                <tr>
                    <td>{{ tuple.pmid }}</td>
                    <td>{{ tuple.mut }}</td>
                    <!-- <td>{{ tuple.gene }}</td> -->
                    <td>{{ tuple.entrezsymbol }}</td>
                    <td class="EntrezIDcol"><a href="http://www.ncbi.nlm.nih.gov/gene/{{ tuple.entrez }}/" data-toggle="tooltip" data-placement="right" title="{{ tuple.entrezsymbol }}">{{ tuple.entrez }}</a></td>
                    
                    <!-- <td><a href="http://www.ncbi.nlm.nih.gov/gene/{{ tuple.entrez }}/">{{ tuple.entrez }}</a></td> -->
                    <!-- <td>{{ tuple.entrezsymbol }}</td> -->
                    <td>{{ tuple.disease }}</td>
                    <td class="DOIDcol"><a href="http://disease-ontology.org/term/{{ tuple.doid }}/" data-toggle="tooltip" data-placement="right" title="{{ tuple.doidname }}">{{ tuple.doid }}</a></td>
                    <!-- <td><a href="http://disease-ontology.org/term/{{ tuple.doid }}/">{{ tuple.doid }}</a></td> -->
                    <!-- <td>{{ tuple.doidname }}</td> -->
                    <!-- <td>{{ tuple.sentno }}</td> -->
                    <td>{{ tuple.location }}</td>
                    <td>{{ tuple.confidence }}</td>
                    <!-- <td>{{ tuple.isstudy }}</td> -->
                    <td>{{ tuple.outcome }}</td>
                    <!-- <td>{{ tuple.patient }}</td> -->
                    <!-- <td>{{ tuple.population }}</td> -->
                    <!-- <td>{{ tuple.review }}</td> -->
                    <!-- <td>{{ tuple.meta }}</td> -->
                    <td>
						<a href="{% url 'sentences' tuple.pmid %}">
						<span class="glyphicon glyphicon-file dtm-search-evidence-mark"></span>
						</a>
                    </td>
                </tr>
            {% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% else %}
	Sorry, not found.
{% endif %}


{% endblock %}