{% extends 'base.html' %}

{% block title %} DiMeX sentence-view {% endblock %}

{% block body-content %}


<div id="dtm-annotation">
<div id="dtm-left-column">
<table class="table table-hover">
<thead>
<tr>
<td>Mutation</td>
<td>Gene</td>
<td>Disease</td>
<!-- <td>DOID</td> -->
<!-- <td>DOIDname</td> -->
<!-- <td>ExMethod</td> -->
<td>Sent#</td>
<td>Confidence</td>
<!-- <td>isStudy</td> -->
<!-- <td>isNegative</td> -->
<!--<td>Sent#</td>-->
</tr>
</thead>
<tbody>

<ul>
{% for info in additional %}
	<li>{{info}}</li>
{% endfor%}
</ul>

{% for tuple in tuples %}
<tr>
<td>{{ tuple.mut }}</td>
<!-- <td>{{ tuple.gene }}</td> -->
<td><a href="http://www.ncbi.nlm.nih.gov/gene/{{ tuple.entrez }}/" data-toggle="tooltip" data-placement="right" title="EntrezID: {{ tuple.entrez }}">{{ tuple.entrezsymbol }}</a></td>
<!-- <td>{{ tuple.disease }}</td> -->
<td><a href="http://disease-ontology.org/term/{{ tuple.doid }}/" data-toggle="tooltip" data-placement="right" title="{{ tuple.doid }}">{{ tuple.disease }}</a></td>
<!-- <td>{{ tuple.doid }}</td> -->
<!-- <td>{{ tuple.doidname }}</td> -->
<!-- <td>{{ tuple.exmethod }}</td> -->
<td>{{ tuple.sentno }}</td>
<td>{{ tuple.confidence }}</td>
<!-- <td>{{ tuple.isstudy }}</td> -->
<!-- <td>{{ tuple.isnegative }}</td> -->
<!-- <td>{{ tuple.sentno }}</td> -->
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div id="dtm-right-column">
<div id="dtm-annotation-docid">
<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}">PMID {{pmid}}</a>
</div>
<div id="dtm-annotation-text">
<ul id="dtm-annotation-sentence-list">
{% autoescape off %}

{% for taggedsentence in taggedsentences %}

 <li class="Sentence" style="">{{ taggedsentence }} 

{% endfor %}
{% endautoescape %}
</ul>
</div>
</div>
</div>

{% endblock %}